.\#*
*~
\#*
figures/benchmark-mwrites/*.pdf
figures/benchmark-mreads/*.pdf
figures/blocks-slices/*.pdf
figures/model/*.pdf
figures/svg/*.pdf
figures/svg/*.pdf_tex
figures/*.pdf
.idea/*
nohup.out
paper.aux
paper.bbl
paper.blg
paper.log
paper.out
paper.pdf
x.log
texput.log
